/* _content/ScheduleVaccineRazor/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Thêm vào site.css */
body[b-5gzzibm35h] {
    background-color: #f8f9fa; /* Nền sáng nhẹ */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand[b-5gzzibm35h] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 1.5rem;
}

.btn-primary[b-5gzzibm35h] {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover[b-5gzzibm35h] {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.btn-outline-primary[b-5gzzibm35h] {
    transition: background-color 0.3s ease;
}

    .btn-outline-primary:hover[b-5gzzibm35h] {
        background-color: #007bff;
        color: #fff;
    }

.jumbotron[b-5gzzibm35h] {
    margin-bottom: 0;
    border-radius: 0;
}

h1[b-5gzzibm35h], h2[b-5gzzibm35h], h4[b-5gzzibm35h] {
    color: #2c3e50;
}

p.lead[b-5gzzibm35h] {
    font-size: 1.5rem;
}
